@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}



<div class="container">
    <h2 class="mt-5" style="text-align:center">Change your account settings</h2>
    <hr />
    <div class="row justify-content-center m-4">
        <div class="col-auto justify-content-center">
            <partial name="_ManageNav" />
        </div>
        <div class="col-6 justify-content-center">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
